:root {
  --product-border: 1px solid rgb(83, 110, 218);

  a {
    text-decoration: none;
  }
  button {
    cursor: pointer;
  }
}
main {
  flex: 1;
}
.page-container {
  min-height: 100vh;
}
body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
