
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: var(--product-border);
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 400px;
}
.product-info {
  padding: 1rem;
}
